/*
Theme Name:   w-store
Template:     storefront
Author:       ninghao.net
Author URI:   https://ninghao.net
*/

#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-footer .site-info {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 16px;
}

.site-content {
  flex-grow: 2;
}
