.woocommerce-breadcrumb a:first-of-type::before {
  content: '';
}

.woocommerce-breadcrumb {
  margin-left: -5px;
}

.storefront-breadcrumb {
  margin-bottom: 32px;
}

.woocommerce-breadcrumb {
  font-weight: 300;
  font-size: 16px;
}