.comment-form .comment-notes {
  opacity: 0.5;
  font-size: 14px;
}

#reviews .comment-form-rating label {
  display: none;
}

p.stars {
  font-size: 24px;
}

.comment-form-comment label {
  font-weight: bold;
}

.storefront-full-width-content.single-product #reviews .commentlist li .avatar {
  margin-top: 8px;
}

#respond {
  background-color: #fff;
  border: 1px solid #0000000d;
}

.comment-form-comment label {
  font-weight: 300;
}

.comment-form-comment textarea {
  padding: 24px 0;
}
