.product_title {
  font-size: 26px;
}

.woocommerce-tabs ul.tabs {
  margin-bottom: 40px;
}

.storefront-full-width-content.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
  width: 20%;
  margin-right: 5%;
}

.single-product div.product .product_meta {
  opacity: 0.7;
  font-size: 16px;
}

.single-product div.product .product_meta a {
  text-decoration: none;
  font-weight: 300;
}

.woocommerce-product-details__short-description {
  font-size: 18px;
}

.tagged_as a:not(:first-child){
  padding-left: 4px;
}

.beta+h3, h2+h3 {
  padding-top: 40px;
}

.woocommerce-tabs ul.tabs li a {
  font-size: 18px;
}

.woocommerce-tabs ul.tabs li.active a, .onsale, .widget_search form:before, .widget_product_search form:before {
  font-weight: bold;
}

.stock.in-stock::before, .stock.out-of-stock::before {
  content: '';
  margin: 0;
}

.stock.in-stock {
  font-weight: 300;
  color: #43A047;
}

.stock.out-of-stock {
  font-weight: 300;
  color: #E53935;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
  bottom: 32px;
  top: auto;
  right: 0;
}

@media (min-width: 768px) {
  .storefront-product-pagination a[rel=next] .storefront-product-pagination__title {
    font-weight: bold;
  }

  .storefront-product-pagination a {
    box-shadow: none;
    background: #fff;
    border: 1px solid #c6c6c6;
  }

  .product_title {
    font-size: 40px;
  }

  .storefront-sticky-add-to-cart {
    box-shadow: none;
    border-bottom: 1px solid #0000000d;
  }

  .storefront-full-width-content .woocommerce-tabs ul.tabs {
    width: 25%;
  }

  .storefront-full-width-content .woocommerce-tabs .panel {
    width: 70%;
  }
}
