.woocommerce-products-header {
  text-align: left;
}

.storefront-full-width-content .woocommerce-products-header, 
.storefront-full-width-content.woocommerce-account .entry-header, 
.storefront-full-width-content.woocommerce-cart .entry-header, 
.storefront-full-width-content.woocommerce-checkout .entry-header {
  text-align: left;
  padding-bottom: 32px;
}

.woocommerce-products-header__title {
  font-size: 24px;
}

ul.products li.product .woocommerce-loop-product__title, 
ul.products li.product h2, 
ul.products li.product h3 {
  font-weight: bold;
}

.woocommerce-tabs ul.tabs li.active a, 
ul.products li.product .price, 
.widget_search form:before, 
.widget_product_search form:before {
  font-size: 18px;
}

ul.products li.product .add_to_cart_button, 
ul.products li.product .button {
  display: none;
}

.term-description {
  font-weight: 300;
}

.woocommerce-result-count {
  font-weight: 300;
}

.woocommerce-pagination .page-numbers {
  font-size: 16px;
}