h1, h2, h3 {
  font-weight: bold;
}

p {
  margin: 0 0 32px;
  line-height: 1.8;
  font-size: 18px;
}

a:focus, 
.button:focus, 
.button.alt:focus, 
button:focus, 
input[type="button"]:focus, 
input[type="reset"]:focus, 
input[type="submit"]:focus {
  outline: none;
}